{
  "printWidth": 80,
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "arrowParens": "always",
  "quoteProps": "consistent",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.{json,yml,md,scss,sass,css}",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.{ts,tsx}",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}