.Button {
  cursor: pointer;

  display: flex;

  padding: 4px 8px;

  color: var(--primary-color);

  border-radius: 4px;
  outline: none;
}

.clear {
  margin: 0;
  padding: 0;

  text-decoration: none;

  background-color: transparent;
  border: none;
  outline: none;
}

.outline {
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--primary-color);
  outline: none;
}
