.Sidebar {
  position: relative;

  width: var(--width-sidebar);
  height: calc(100vh - var(--height-header));

  background-color: var(--inverted-bg-color);

  transition: width 0.25s ease-out;
}

.collapsed {
  width: var(--width-sidebar-collapsed);
}

.switchers {
  position: absolute;
  bottom: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100%;

  transition: 0.25s ease-out;

  &.collapsed {
    flex-direction: column;
  }
}

.buttonControlSidebar {
  position: absolute;
  z-index: 10;
  right: -10px;
  bottom: 10px;

  background-color: transparent;
}
