.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: var(--height-header);

  color: var(--inverted-primary-color);

  background-color: var(--inverted-bg-color);
}

.leftSide,
.rightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftSide {
  justify-content: flex-start;
}

.rightSide {
  justify-content: flex-end;
}
